/* Variables */
:root {
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --main-padding: 90px;
  --color-primary: hsl(0, 84%, 44%);
  --sec-color-primary: hsl(0, 84%, 48%);
  --bw-color: #fff; /*  #171717*/
  --hw-color: #eeeeee;
  --white-color: #fff;
  --hover-color: hsl(0 84% 53% / 1);
  --sec-hover-color: #222;
  --wb-color: #000;
  --wbl-color: #fff;
  --land-color: #eeeeee;
  --head-land-color: #37373f;
  --para-color: #4f4f5a;
  --sec-lan-color: #fff;
  --head-sec-color: #212529;
  --var-na-sec: #7f7f90;
  --card-color: #ffffff;
  --color-card-con: #f5f5f5;
  --select-color: #D85454;
  --nav-color:hsl(0, 0%, 100%, 0.7);
  --img-card: url(../img/team-shape.svg);
}
:has(#check:checked) {
  --bw-color: #171717;
  --hw-color: #252525;
  --wb-color: #fff;
  --land-color: #252525;
  --head-land-color: #fff;
  --para-color: #9f9f9f;
  --color-primary: hsl(35, 72%, 44%);
  --hover-color: hsl(35, 89%, 58%);
  --wbl-color: #000;
  --sec-lan-color: #202020;
  --head-sec-color: #fff;
  --var-na-sec: #9f9f9f;
  --card-color: hsl(0, 0%, 9%);
  --select-color: #8a5a18;
  --color-card-con: #0d0d0d;  
  --nav-color:hsl( 0, 0%, 9%, 0.7 );
  --img-card: url(../img/team-shape-dark.svg);
}
/* Global */
body{
  overflow-x: hidden;
}
*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
li {
  list-style-type: none;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  user-select: none;
}
::selection {
  background-color: var(--select-color);
  color: var(--wbl-color);
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}
:has(#gallery:target) div#trgt-nav.nav ul li a[href="#gallery"]::after,
:has(#chefs:target) div#trgt-nav.nav ul li a[href="#chefs"]::after,
:has(#contact:target) div#trgt-nav.nav ul li a[href="#contact"]::after,
:has(#home:target) div#trgt-nav.nav ul li a[href="#home"]::after{
  width: 100%;
}
:has(#gallery:target) div#trgt-nav.nav ul li a[href="#gallery"],
:has(#chefs:target) div#trgt-nav.nav ul li a[href="#chefs"],
:has(#contact:target) div#trgt-nav.nav ul li a[href="#contact"],
:has(#home:target) div#trgt-nav.nav ul li a[href="#home"]{
  color: var(--wb-color);
}
.form input,
.txt-area,
#contact .form form button,
.vid .youtube-home span,
.home .container .text-home .buttons > a,
.icon .logo,
.content-card span,
.subscribe ul li a,
p,
.contact-foot .item-foot a,
.contact-foot .item-foot span,
.header .icon .logo,
.form input,
.home .container .text-home p,
.home .container .text-home .buttons > a,
.txt-area,
.navbar .container .nav ul li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact-foot .item-foot i,
#contact .form form button,
.subscrib-foot button,
.social-foot a i,
.form input,
.txt-area,
.navbar .container .nav ul li a,
#chefs .container .cards .card .social-card li i {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.cont-foot .logo,
.social-foot a i,
.subscribe ul li::before,
.contact-foot .item-foot a,
.subscrib-foot button,
.subscribe ul li a {
  color: var(--white-color);
}
.subscribe ul li,
#gallery .overlay,
#chefs .container .cards .card:hover .social-card,
#chefs .container .cards .card,
.navbar .container .nav ul li a::after{
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
}
/* scroll styling */
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
}
/* end */
/* start header  nav*/
.header {
  height: 90px;
}
.navbar{
  background-color: var(--bw-color);
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 14px 0px #0000001b;
  z-index: 99999999;
}
.navbar .container {
  padding-block: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .container .nav ul {
  display: flex;
}
.navbar .container .nav ul li {
  padding-inline: 15px;
}
.navbar .container .nav ul li a {
  display: inline-block;
  padding-block: 5px;
  font-size: 17px;
  color: #7f7f90;
  position: relative;
  font-weight: 600;
}
.navbar .container .nav ul li a:hover{
  color: var(--wb-color);
}
.navbar .container .nav ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  bottom: -3px;
  left: 0;
}
.navbar .container .nav ul li a:hover::after {
  width: 100%;
}
.icon .logo::after {
  content: ".";
  color: var(--color-primary);
}
/* start mode  */
.mode {
  position: relative;
  width: 25px;
  height: 25px;
}
.mode .cinput {
  display: none;
}
.mode i {
  position: absolute;
  font-size: 25px;
}
.fa-sun {
  color: #fff;
}
:has(#check:checked) .fa-moon,
.fa-sun {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
:has(#check:checked) .fa-sun {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* end mode */
.header .icon .logo {
  font-size: 30px;
  color: var(--wb-color);
}
.fa-xmark {
  display: none;
}
.fa-bars {
  display: none;
}
@media (max-width: 767px) {
  .nav {
    min-height: 100vh;
    width: 348px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
  .mod-bar {
    display: flex;
    width: 60px;
    justify-content: space-between;
    align-items: center;
  }
  .fa-bars {
    display: block;
    font-size: 26px;
    color: var(--wb-color);
  }
  .nav:target {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .nav ul {
    flex-direction: column;
    background-color: red;
    min-height: inherit;
    background-color: #fff;
    width: inherit;
  }
  .nav ul > a {
    align-self: flex-end;
    display: block;
    padding: 15px 15px 5px;
  }
  .fa-xmark {
    display: block;
    font-size: 23px;
    color: #867f7f;
  }
  .navbar .container .nav ul li {
    padding: 0;
  }
  .navbar .container .nav ul li a.active,
  .navbar .container .nav ul li a {
    padding: 15px;
    width: 100%;
    color: #7f7f90;
  }
  .navbar .container .nav ul li a:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  .navbar .container .nav ul li a::after {
    display: none;
  }
  .navbar .container .nav ul li a:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    color: #000;
  }
  .header{
    background-color: var(--land-color);
  }
  :has(.nav:target) div.navbar {
    height: 100%;
    background-color: var(--nav-color);
  }
}
@media (max-width: 367px) {
  .nav {
    width: 250px;
  }
}
@media (max-width: 287px) {
  .nav {
    width: 180px;
  }
}
/* end header  nav*/
/* start home */
.home {
  padding-block: 38px;
  min-height: calc(100vh - 90px);
  background-color: var(--land-color);
  overflow: auto;
  display: flex;
  align-items: center;
}
.home .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-home,
.text-home {
  width: 39%;
}
@media (max-width: 1200px) {
  .img-home {
    width: 45%;
  }
}
@media (max-width: 991px) {
  .img-home {
    width: 100%;
  }
  .text-home {
    width: 100%;
  }
  .home .container {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: flex-end;
    gap: 30px;
  }
  .home .container .text-home .buttons {
    justify-content: center;
  }
  .home .container .text-home p {
    text-indent: 18px;
  }
}
.home .container .img-home img {
  filter: drop-shadow(4px 4px 9px #000a);
  -webkit-filter: drop-shadow(4px 4px 9px #000a);
  user-select: none;
}
.home .container .img-home img:hover {
  animation: vibration 1s infinite;
  -webkit-animation: vibration 1s infinite;
}
/* strat  animation  */
@keyframes vibration {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* end  animation  */
.home .container .text-home h2 {
  font-family: var(--font-primary);
  font-size: 65px;
  color: var(--head-land-color);
}
.home .container .text-home p {
  font-size: 16px;
  line-height: 26px;
  color: var(--para-color);
  margin-block: 20px;
}
.home .container .text-home .buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.home .container .text-home .buttons > a {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--color-primary);
  color: var(--wbl-color);
  border-radius: 0 100vh 100vh 100vh;
  -webkit-border-radius: 0 100vh 100vh 100vh;
  -moz-border-radius: 0 100vh 100vh 100vh;
  -ms-border-radius: 0 100vh 100vh 100vh;
  -o-border-radius: 0 100vh 100vh 100vh;
}
.vid .youtube-home .icon i {
  position: relative;
  color: var(--wb-color);
}
.vid .youtube-home .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0 50%,
    transparent 50% 100%
  );
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.vid .youtube-home .icon,
.vid .youtube-home .icon::before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.vid .youtube-home span {
  font-weight: 600;
  color: var(--wb-color);
}
.vid .youtube-home .icon::before {
  content: "";
  position: absolute;
  width: 77%;
  height: 77%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--wbl-color);
}
.youtube-home {
  display: flex;
  align-items: center;
}
/* end home */
/* start chefs */
#chefs {
  padding-block: var(--main-padding);
  background-color: var(--sec-lan-color);
}
#chefs .container {
  text-align: center;
}
.special-heading {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--var-na-sec);
  font-weight: 400;
  text-align: center;
}
.special-heading + p {
  font-size: 50px;
  color: var(--head-sec-color);
  font-family: var(--font-primary);
  margin-bottom: 30px;
  text-align: center;
}
.special-heading + p > span {
  color: var(--color-primary);
}
#chefs .container .cards {
  --gap: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-block: 10px;
}
#chefs .container .cards .card {
  overflow: hidden;
  border-radius: 8px;
  width: calc((100% - (var(--gap) * 2)) / 3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: var(--card-color);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 15px 0px;
  position: relative;
}
#chefs .container .cards .card:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}
#chefs .container .cards .card .social-card {
  position: absolute;
  top: 30px;
  right: -53px;
  transition: right 0.2s;
  -webkit-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -ms-transition: right 0.2s;
  -o-transition: right 0.2s;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 12px;
}
#chefs .container .cards .card .social-card li i {
  display: block;
  padding: 10px 5px;
  font-size: 18px;
  color: rgba(55, 55, 63, 0.4);
}
#chefs .container .cards .card .social-card li i:hover {
  color: rgba(55, 55, 63, 0.9);
}
#chefs .container .cards .card:hover .social-card {
  right: 10px;
  transition-delay: .4s;
}
#chefs .container .cards .card .image-card {
  position: relative;
}
#chefs .container .cards .card .image-card::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-image: var(--img-card);
  width: 100%;
  height: 61px;
}
#chefs .container .cards .card .content-card {
  padding: 12px 25px 25px 25px;
}
.content-card h3 {
  font-size: 19px;
  color: var(--wb-color);
}
.content-card span {
  display: block;
  margin: 5px 0 10px;
  color: var(--var-na-sec);
  font-size: 14px;
}
.content-card p {
  font-size: 15px;
  color: var(--var-na-sec);
  font-style: italic;
}
@media (max-width: 991px) {
  #chefs .container .cards .card {
    width: calc((100% - var(--gap)) / 2);
  }
}
@media (max-width: 767px) {
  #chefs .container .cards .card {
    width: 95%;
  }
  #chefs .container .cards {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .home .container .text-home .buttons {
    flex-direction: column;
    gap: 20px;
  }
  .home .container .text-home h2 {
    font-size: 45px;
  }
  .special-heading + p {
    font-size: 40px;
  }
}
/* end chefs */
/* start gallery  */
#gallery {
  padding-block: var(--main-padding);
  background-color: var(--land-color);
}
#gallery .container {
  text-align: center;
}
.items-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1170px;
  gap: 20px;
}
#gallery .container .items-gallery .item {
  width: calc((100% - (40px)) / 3);
  border: solid 4px #fff;
}
@media (max-width: 1400px) {
  .items-gallery {
    height: 1010px;
  }
}
@media (max-width: 1200px) {
  .items-gallery {
    height: 920px;
  }
  #gallery {
    padding-bottom: 10px;
  }
}
@media (max-width: 991px) {
  #gallery .container {
    padding-inline: 15px;
  }
  .items-gallery {
    height: 1430px;
  }
  #gallery .container .items-gallery .item {
    width: calc((100% - (20px)) / 2);
  }
  #gallery .container .items-gallery .pizza {
    order: 1;
  }
  #gallery .container .items-gallery .levpizza {
    order: 3;
  }
  #gallery .container .items-gallery .beef {
    order: 5;
  }
  #gallery .container .items-gallery .fritata {
    order: 4;
  }
  #gallery .container .items-gallery .burger {
    order: 2;
  }
  #gallery .container .items-gallery .crispy {
    order: 6;
  }
  #gallery .container .items-gallery .lyulya {
    order: 7;
  }
}
#gallery .items-gallery .item {
  position: relative;
  overflow: hidden;
}
#gallery .overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000093;
  width: 100%;
  height:100%;
  bottom: 0;
  transform: translateY(110%);
  -webkit-transform: translateY(110%);
  -moz-transform: translateY(110%);
  -ms-transform: translateY(110%);
  -o-transform: translateY(110%);
  color: #ffff;
}
#gallery .items-gallery .item:hover .overlay{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
#gallery .overlay p {
  color: #ddd;
  margin-top: 3px;
}
@media (max-width: 767px) {
  #gallery .container .items-gallery .item {
    width: 100%;
  }
  .items-gallery {
    height: initial;
  }
  .container {
    max-width: 576px;
  }
}
/* end gallery  */
/* start contact */
#contact {
  padding-block: var(--main-padding);
  background-color: var(--sec-lan-color);
}
#contact .frame {
  height: 370px;
}
.items-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-block: 27px;
}
.items-contact .item-contact {
  width: calc((100% - 20px) / 2);
  background-color: var(--color-card-con);
  padding: 24px;
  display: flex;
  align-items: center;
}
.items-contact .item-contact .icon {
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  margin-right: 10px;
}
.items-contact .item-contact .content h3 {
  font-size: 20px;
  color: #adadad;
  margin-bottom: 7px;
}
.items-contact .item-contact .content p {
  color: var(--head-sec-color);
}
.items-contact .item-contact .icon i {
  font-size: 18px;
  color: var(--bw-color);
}
#contact .container .form {
  box-shadow: 0 0 30px #00000014;
  padding: 20px;
}
.form .personal {
  display: flex;
  gap: 20px;
}
.form .personal input {
  width: calc((100% - 20px) / 2);
}
.form input,
.txt-area {
  padding: 16px;
  border: 2px solid #dfdede;
  outline: none;
}
#contact .form form .txt-area {
  height: 160px;
  resize: vertical;
}
#contact .form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact .form form button {
  width: fit-content;
  margin-inline: auto;
  padding: 15px 41px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
}
.form input:focus,
.txt-area:focus {
  outline: none;
  border-color: var(--color-primary);
}
@media (max-width: 991px) {
  #gallery,
  #chefs,
  #contact {
    padding-block: calc((var(--main-padding) - 20px));
  }
  .form .personal input {
    width: 100%;
  }
  .form .personal {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .items-contact .item-contact {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .items-contact .item-contact .content h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .items-contact .item-contact .content p {
    font-size: 14px;
  }
  .items-contact .item-contact .icon {
    min-width: 40px;
    height: 40px;
  }
  .items-contact .item-contact {
    padding: 20px;
  }
  .items-contact {
    gap: 16px;
  }
}
/* end contact */
/* start footer */
.footer {
  padding-block: calc(var(--main-padding) - 45px)
    calc(var(--main-padding) - 60px);
  background-color: #010101;
  color: var(--white-color);
}
.footer .container {
  display: flex;
  gap: 20px;
}
.describe {
  width: calc((100% - (20px * 2)) / 4);
}
.describe > p {
  margin-bottom: 5px;
}
.describe > h3 {
  text-align: center;
  border-bottom: solid 2px #ddd6;
  padding-block: 10px;
}
.social-foot {
  display: flex;
  justify-content: space-evenly;
}
.social-foot a {
  display: block;
  padding: 15px;
}
.social-foot a i {
  font-size: 26px;
}
.social-foot a i:hover {
  color: var(--hover-color);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.subscribe {
  width: calc((100% - (20px * 2)) / 2);
}
.contact-foot > h3,
.describe > h3,
.subscribe h3 {
  font-size: 19px;
}
.subscribe > p {
  margin-block: 8px;
  font-size: 16.2px;
}
.footer .contact-foot {
  width: calc((100% - (20px * 2)) / 4);
}
.img-foot {
  width: 38px;
  height: 38px;
}
.cont-foot {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.subscrib-foot {
  display: flex;
  gap: 4px;
  margin-block: 18px;
}
.subscrib-foot input {
  flex: 1;
  padding: 10px;
}
.subscrib-foot input:focus::placeholder {
  opacity: 0;
}
.subscrib-foot button {
  padding: 12px 14px;
  border: none;
  font-size: 15px;
}
#contact .form form button,
.subscrib-foot button {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--wbl-color);
}
.subscrib-foot button:hover,
#contact .form form button:hover {
  background-color: var(--hover-color);
}
.subscribe ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}
.subscribe ul li {
  width: calc((100% - 20px) / 2);
  padding: 5px;
}
.subscribe ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-size: 16px;
  font-weight: 700;
  margin-right: 4px;
}
.subscribe ul li a {
  font-size: 16px;
}
.subscribe ul li:hover {
  transform: translateX(11px);
  -webkit-transform: translateX(11px);
  -moz-transform: translateX(11px);
  -ms-transform: translateX(11px);
  -o-transform: translateX(11px);
  background-color: var(--sec-hover-color);
}
.contact-foot > h3 {
  margin-bottom: 10px;
}
.contact-foot .item-foot {
  display: flex;
  align-items: center;
  gap: 7px;
}
.contact-foot .item-foot a,
.contact-foot .item-foot span {
  display: block;
}
.contact-foot .con-foot .item-foot .icon-foot-contact {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-foot .item-foot i {
  font-size: 23px;
  color: var(--color-primary);
}
.contact-foot .item-foot i:hover {
  color: var(--hover-color);
}
.contact-foot .item-foot i:hover {
  cursor: pointer;
}
@media (max-width: 1199px) {
  .footer .contact-foot,
  .describe {
    width: calc((100% - 20px) / 2);
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .contact-foot {
    order: 2;
  }
  .subscribe {
    width: 100%;
    order: 3;
  }
  .subscribe > p {
    font-size: 15.8px;
  }
}
@media (max-width: 767px) {
  .footer .contact-foot {
    order: initial;
  }
  .subscribe {
    width: 100%;
    order: initial;
  }
  .footer .contact-foot,
  .describe {
    width: 100%;
  }
  .mb-4 {
    margin-bottom: 4px;
  }
}
.prof {
  text-align: right;
  margin-top: 5px;
  margin-right: 10px;
  color: #ffffff9d;
  font-family: cursive;
}
@media (max-width: 367px) {
  .subscrib-foot {
    flex-direction: column;
    row-gap: 10px;
  }
  .subscrib-foot button {
    width: 100%;
  }
  .prof {
    font-size: 15px;
    text-align: center;
  }
  .social-foot a i {
    font-size: 23px;
  }
}
@media (max-width: 305px) {
  .subscribe > p,
  .describe > p,
  .subscribe ul li a,
  .contact-foot > h3,
  .describe > h3,
  .subscribe h3,
  .contact-foot .item-foot a,
  .contact-foot .item-foot span,
  .prof {
    font-size: 13px;
  }
  .social-foot a i {
    font-size: 20px;
  }
  .subscribe ul li::before {
    margin-right: 2px;
  }
  .subscribe ul {
    column-gap: 8px;
  }
  .contact-foot > h3,
  .describe > h3,
  .subscribe h3 {
    font-size: 16px;
  }
}
/* end footer footer */
/* container Responsive */
/* small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1350px;
  }
}
